@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.charsheet {
  background-image: url("https://raw.githubusercontent.com/Calmacil/l5r-v4/master/img/appierriz.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 700px;
  min-height: 300px;
  flex-direction: column;
}
.charsheet .itemcontrol {
  z-index: 2;
}
.charsheet .btn {
  border-radius: 0;
}
.charsheet img,
.charsheet div,
.charsheet span,
.charsheet input[type=number],
.charsheet input[type=text],
.charsheet textarea,
.charsheet select,
.charsheet h1,
.charsheet h2,
.charsheet label,
.charsheet button[type=roll],
.charsheet button[type=action] {
  display: flex;
}
.charsheet input[type=number],
.charsheet input[type=text],
.charsheet select,
.charsheet textarea {
  color: black;
}
.charsheet input[type=text],
.charsheet input[type=number],
.charsheet select {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.charsheet input[type=number]::-webkit-outer-spin-button, .charsheet input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet input[type=number],
.charsheet input[type=text] {
  -moz-appearance: textfield;
  border-radius: 0;
}
.charsheet textarea {
  border: none;
  width: 100%;
  padding: 0;
  text-align: justify;
  border-radius: 0;
  margin: 0;
}
.charsheet .repcontrol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.charsheet .repcontrol > .btn {
  padding-bottom: 0;
  border-radius: 0;
  border: 1px solid green;
}
.charsheet div.autoex {
  line-height: 1.4em;
  min-width: 1.4em;
  cursor: text;
  text-align: left;
  position: relative;
  width: 100%;
}
.charsheet div.autoex > span, .charsheet div.autoex > textarea {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-spacing: inherit;
  text-align: inherit;
  min-height: inherit;
  height: 100%;
  word-wrap: anywhere;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: solid 1px lightgray;
}
.charsheet div.autoex > span {
  visibility: hidden;
}
.charsheet div.autoex > textarea {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  overflow: hidden;
  resize: none;
  margin: 0;
}
.charsheet div.autoex > textarea::placeholder {
  font-family: "Contrail One";
  color: rgba(87, 89, 87, 0.8549019608);
  font-style: italic;
  text-align: center;
  font-size: 95%;
  font-weight: normal;
}
.charsheet div.autoex.autoex22 {
  min-height: 22px;
}
.charsheet div.autoex.autoex24 {
  min-height: 24px;
}
.charsheet div.autoex.autoex26 {
  min-height: 26px;
}
.charsheet div.autoex.autoex28 {
  min-height: 28px;
}
.charsheet div.autoex.autoex40 {
  min-height: 40px;
}
.charsheet div.autoex.autoex100 {
  min-height: 100px;
}
.charsheet .container {
  width: 100%;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-between;
  min-width: 700px;
  background-color: transparent;
  background-image: radial-gradient(closest-side at 50% 50%, white, rgba(255, 255, 255, 0));
  padding: 0;
  margin: 0;
}
.charsheet .container .main-container {
  width: calc(100% - 180px - 10px);
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.charsheet div.col3 {
  width: 33.3333333333%;
  flex-wrap: wrap;
}
.charsheet div.col2 {
  width: 50%;
  flex-wrap: wrap;
}
.charsheet div.col40 {
  width: calc(40% - 10px);
  flex-wrap: wrap;
  align-content: flex-start;
}
.charsheet div.col60 {
  width: calc(60% - 10px);
  flex-wrap: wrap;
  align-content: flex-start;
}
.charsheet div.col2T1 {
  width: 66.6666666667%;
  flex-wrap: wrap;
}
.charsheet .tab {
  display: none;
}
.charsheet input[name=attr_activeTab][value="8"] ~ div.tab8, .charsheet input[name=attr_activeTab][value="7"] ~ div.tab7, .charsheet input[name=attr_activeTab][value="6"] ~ div.tab6, .charsheet input[name=attr_activeTab][value="5"] ~ div.tab5, .charsheet input[name=attr_activeTab][value="4"] ~ div.tab4, .charsheet input[name=attr_activeTab][value="3"] ~ div.tab3, .charsheet input[name=attr_activeTab][value="2"] ~ div.tab2, .charsheet input[name=attr_activeTab][value="1"] ~ div.tab1, .charsheet input[name=attr_activeTab][value="0"] ~ div.tab0 {
  display: flex;
}
.charsheet label {
  font-size: 12px;
}
.charsheet label > span {
  font-weight: normal;
  font-family: "Arial";
  font-size: inherit;
  line-height: 12px;
  padding-top: 5px;
  padding-right: 3px;
}
.charsheet label > input[type=text], .charsheet label > input[type=number] {
  font-weight: normal;
  font-size: calc(1em + 2px);
  font-style: italic;
  line-height: 12px;
  font-family: "Patrick Hand";
  background: transparent;
  border: 0;
  border-bottom: solid 1px lightgray;
}
.charsheet h3 {
  font-family: "Patrick Hand";
  font-style: italic;
  text-align: center;
  background: linear-gradient(to right, rgba(34, 34, 40, 0.9333333333) 60%, #eeeeff);
  color: white;
  width: 100%;
  height: 27px;
}

.charactersheet .menu {
  width: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  min-height: 560px;
}
.charactersheet .menu > .logo {
  width: 100%;
  min-height: 62px;
  background-image: url("https://raw.githubusercontent.com/Calmacil/l5r-v4/master/img/legend-of-the-five-rings-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.charactersheet .menu > .menuMain, .charactersheet .menu > .menuFooter {
  flex-direction: column;
  width: 100%;
  padding: 0;
  padding-right: 8px;
}
.charactersheet .menu > div > label > input[type=radio] {
  position: absolute;
  width: calc(25% - 33px);
  opacity: 0;
  height: 30px;
}
.charactersheet .menu > div > label > input[type=radio] ~ span {
  width: 100%;
  vertical-align: center;
}
.charactersheet .menu > div > label > input[type=radio] ~ span::before {
  display: flex;
  content: attr(title);
  justify-content: center;
  font-family: "Permanent Marker";
  width: 100%;
  height: 24px;
  line-height: 26px;
}
.charactersheet .menu > div > label > input[type=radio]:checked ~ span::before {
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0.5333333333);
  text-decoration-thickness: 2px;
}
.charactersheet .menu > div > label > input[type=radio] ~ span::before {
  background-image: linear-gradient(to right, rgba(34, 34, 40, 0.9333333333) 60%, #eeeeff);
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
}
.charactersheet .menu > div > label > input[type=radio]:checked ~ span::before {
  background-image: linear-gradient(to left, rgba(34, 34, 40, 0.9333333333) 60%, #eeeeff);
}

.charsheet .dicebox {
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 204, 0.3333333333);
  height: 60px;
  border-bottom: 1px solid lightgrey;
  margin: 0 10px 10px 10px;
  padding-bottom: 5px;
  box-shadow: 0 5px 8px -6px #000;
}
.charsheet .dicebox h3 {
  text-align: center;
  font-size: 12px;
  margin: auto;
}
.charsheet .dicebox > div > .explodeOnWrapper {
  border-radius: 10px;
  align-content: center;
  width: calc(100% - 15px);
}
.charsheet .dicebox > div > .explodeOnWrapper > label {
  width: 25%;
  padding: 0;
  margin: 0;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio] {
  position: absolute;
  width: calc(25% - 33px);
  opacity: 0;
  height: 25px;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio] ~ span {
  width: 100%;
  vertical-align: center;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio] ~ span::before {
  display: flex;
  content: attr(title);
  justify-content: center;
  font-family: "Permanent Marker";
  width: 100%;
  height: 19px;
  line-height: 21px;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio]:checked ~ span::before {
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0.5333333333);
  text-decoration-thickness: 2px;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio] ~ span::before {
  text-align: center;
  font-size: 14px;
  color: grey;
  text-shadow: 1px 1px 1px black;
}
.charsheet .dicebox > div > .explodeOnWrapper > label > input[type=radio]:checked ~ span::before {
  color: black;
}
.charsheet .dicebox > div > label > input[type=checkbox] {
  position: absolute;
  width: calc(25% - 33px);
  opacity: 0;
  height: 25px;
}
.charsheet .dicebox > div > label > input[type=checkbox] ~ span {
  width: 100%;
  vertical-align: center;
}
.charsheet .dicebox > div > label > input[type=checkbox] ~ span::before {
  display: flex;
  content: attr(title);
  justify-content: center;
  font-family: "Arial";
  margin-top: -5px;
  margin-right: 4px;
}
.charsheet .dicebox > div > label > input[type=checkbox]:checked ~ span::before {
  background-color: #99a;
  box-shadow: 0 0 5px inset black;
}
.charsheet .dicebox > div > label > input[type=checkbox] ~ span {
  margin-left: 22px;
}
.charsheet .dicebox > div > label > input[type=checkbox] ~ span::before {
  border-radius: 20px;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  margin-left: -22px;
}
.charsheet .dicebox > div:not(:first-of-type) {
  padding-top: 8px;
}
.charsheet .dicebox > div:nth-of-type(3) > label > span {
  width: 40%;
}
.charsheet .dicebox > div:nth-of-type(3) > label > input[type=text] {
  width: 60%;
  height: 22px;
  border: 1px lightgrey dotted;
  background: rgba(255, 255, 255, 0.3333333333);
}

.charsheet .caracbar {
  width: 100%;
  padding-top: 10px;
}
.charsheet .caracbar > .elem {
  flex-direction: column;
  align-content: center;
  width: 20%;
}
.charsheet .caracbar > .elem > label {
  justify-content: flex-end;
  margin-bottom: 3px;
}
.charsheet .caracbar > .elem > label > input[type=number] {
  border: solid 2px;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
}
.charsheet .caracbar > .elem > label > span {
  font-variant: small-caps;
}
.charsheet .caracbar > .elem:not(:last-of-type) > label:nth-of-type(2), .charsheet .caracbar > .elem:last-of-type > label:nth-of-type(1) {
  flex-direction: row-reverse;
}
.charsheet .caracbar > .elem:not(:last-of-type) > label:nth-of-type(2) > input[type=number], .charsheet .caracbar > .elem:last-of-type > label:nth-of-type(1) > input[type=number] {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  z-index: 2;
  background: white;
  font-size: 1.2em;
}
.charsheet .caracbar > .elem:not(:last-of-type) > label:nth-of-type(2) > span, .charsheet .caracbar > .elem:last-of-type > label:nth-of-type(1) > span {
  margin-left: -5px;
  padding-left: 8px;
  width: calc(100% - 40px);
  border-radius: 0 10px 10px 0;
  font-size: calc(100% + 1px);
  font-weight: bold;
}
.charsheet .caracbar > .elem:not(:last-of-type) > label:nth-of-type(2) > span > button[type=action], .charsheet .caracbar > .elem:last-of-type > label:nth-of-type(1) > span > button[type=action] {
  background: none;
  margin-top: -3px;
}
.charsheet .caracbar > .elem:last-of-type {
  padding-top: 23px;
}
.charsheet .caracbar > .elem:nth-of-type(1) input[type=number] {
  border-color: #363;
  color: #363;
}
.charsheet .caracbar > .elem:nth-of-type(1):not(:last-of-type) label:not(:nth-of-type(2)) > span {
  color: #363;
}
.charsheet .caracbar > .elem:nth-of-type(1):not(:last-of-type) label:nth-of-type(2) > span {
  color: white;
  background-color: #363;
}
.charsheet .caracbar > .elem:nth-of-type(1):last-of-type label:nth-of-type(1) > span {
  color: white;
  background-color: #363;
}
.charsheet .caracbar > .elem:nth-of-type(1):last-of-type label:nth-of-type(2) > span {
  color: #363;
}
.charsheet .caracbar > .elem:nth-of-type(2) input[type=number] {
  border-color: #68a;
  color: #68a;
}
.charsheet .caracbar > .elem:nth-of-type(2):not(:last-of-type) label:not(:nth-of-type(2)) > span {
  color: #68a;
}
.charsheet .caracbar > .elem:nth-of-type(2):not(:last-of-type) label:nth-of-type(2) > span {
  color: white;
  background-color: #68a;
}
.charsheet .caracbar > .elem:nth-of-type(2):last-of-type label:nth-of-type(1) > span {
  color: white;
  background-color: #68a;
}
.charsheet .caracbar > .elem:nth-of-type(2):last-of-type label:nth-of-type(2) > span {
  color: #68a;
}
.charsheet .caracbar > .elem:nth-of-type(3) input[type=number] {
  border-color: #36a;
  color: #36a;
}
.charsheet .caracbar > .elem:nth-of-type(3):not(:last-of-type) label:not(:nth-of-type(2)) > span {
  color: #36a;
}
.charsheet .caracbar > .elem:nth-of-type(3):not(:last-of-type) label:nth-of-type(2) > span {
  color: white;
  background-color: #36a;
}
.charsheet .caracbar > .elem:nth-of-type(3):last-of-type label:nth-of-type(1) > span {
  color: white;
  background-color: #36a;
}
.charsheet .caracbar > .elem:nth-of-type(3):last-of-type label:nth-of-type(2) > span {
  color: #36a;
}
.charsheet .caracbar > .elem:nth-of-type(4) input[type=number] {
  border-color: #a63;
  color: #a63;
}
.charsheet .caracbar > .elem:nth-of-type(4):not(:last-of-type) label:not(:nth-of-type(2)) > span {
  color: #a63;
}
.charsheet .caracbar > .elem:nth-of-type(4):not(:last-of-type) label:nth-of-type(2) > span {
  color: white;
  background-color: #a63;
}
.charsheet .caracbar > .elem:nth-of-type(4):last-of-type label:nth-of-type(1) > span {
  color: white;
  background-color: #a63;
}
.charsheet .caracbar > .elem:nth-of-type(4):last-of-type label:nth-of-type(2) > span {
  color: #a63;
}
.charsheet .caracbar > .elem:nth-of-type(5) input[type=number] {
  border-color: #999;
  color: #999;
}
.charsheet .caracbar > .elem:nth-of-type(5):not(:last-of-type) label:not(:nth-of-type(2)) > span {
  color: #999;
}
.charsheet .caracbar > .elem:nth-of-type(5):not(:last-of-type) label:nth-of-type(2) > span {
  color: white;
  background-color: #999;
}
.charsheet .caracbar > .elem:nth-of-type(5):last-of-type label:nth-of-type(1) > span {
  color: white;
  background-color: #999;
}
.charsheet .caracbar > .elem:nth-of-type(5):last-of-type label:nth-of-type(2) > span {
  color: #999;
}

.charsheet button[type=action],
.charsheet button[type=roll].roll {
  border: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  padding-left: 3px;
}
.charsheet button[type=action]::before,
.charsheet button[type=roll].roll::before {
  font-family: "dicefontd10";
  content: "j";
  font-size: 22px;
  margin-top: -4px;
}

.charsheet .tab {
  width: 100%;
  height: calc(100% - 60px);
  align-items: flex-start;
}
.charsheet .tab label {
  line-height: 18px;
  height: 20px;
}

.charsheet .tab1 #identity > label:first-of-type {
  font-size: 18px;
  align-items: space-between;
  width: calc(100% - 10px);
}
.charsheet .tab1 #identity > label:not(:first-of-type) {
  width: calc(50% - 10px);
}
.charsheet .tab1 #identity > textarea {
  border: 1px solid lightgray;
  box-shadow: 0 0 8px lightgray inset;
  border-radius: 5px;
  font-family: "Patrick Hand";
  padding: 4px;
  line-height: 1.2em;
  padding-block: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  background: repeating-linear-gradient(to bottom, transparent 0 1em, lightgray 1em calc(1em + 1px), transparent calc(1em + 1px) 1.2em) 50% 0/calc(100% - 2.4em) 100% no-repeat;
}
.charsheet .tab1 .xpbox {
  width: 100%;
  flex-flow: row wrap;
  align-items: flex-start;
}
.charsheet .tab1 .xpbox > label {
  width: calc(50% - 10px);
}
.charsheet .tab1 .xpbox > label > input[type=number] {
  width: 30px;
}
.charsheet .tab1 .honorbox {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 5px;
  background: #fef68e;
  box-shadow: 0 0 8px black inset;
}
.charsheet .tab1 .honorbox > label {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.charsheet .tab1 .honorbox button[type=action] {
  background: transparent;
}

.charsheet .tab2 {
  flex-direction: column;
}
.charsheet .tab2 .skillsList {
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
.charsheet .tab2 .skillsList > span {
  font-family: "Arial";
  font-weight: bold;
  border-bottom: 3px double black;
  text-align: center;
  padding: 4px;
}
.charsheet .tab2 .skillsList > span:not(:first-of-type) {
  border-left: 1px dotted gray;
}
.charsheet .tab2 .skillsList > span:nth-of-type(1) {
  width: 30px;
}
.charsheet .tab2 .skillsList > span:nth-of-type(2) {
  width: 150px;
}
.charsheet .tab2 .skillsList > span:nth-of-type(3) {
  width: calc(100% - 30px - 150px - 60px - 35px - 45px - 53px);
}
.charsheet .tab2 .skillsList > span:nth-of-type(4) {
  width: 60px;
}
.charsheet .tab2 .skillsList > span:nth-of-type(5) {
  width: 35px;
}
.charsheet .tab2 .skillsList > span:nth-of-type(6) {
  width: 45px;
}
.charsheet .tab2 .skillsList > .repcontainer {
  width: 100%;
  flex-wrap: wrap;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem {
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > .itemcontrol {
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > .itemcontrol > .btn {
  padding-top: 2px;
  padding-bottom: 2px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:first-of-type {
  width: 10px;
  padding-right: 0;
  margin-bottom: 0;
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:first-of-type > input[type=checkbox] {
  position: absolute;
  width: 10px;
  opacity: 0;
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:first-of-type > input[type=checkbox] ~ span {
  width: 100%;
  vertical-align: center;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:first-of-type > input[type=checkbox] ~ span::before {
  display: flex;
  content: "►";
  justify-content: center;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:first-of-type > input[type=checkbox]:checked ~ span::before {
  content: "▼";
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) {
  width: 20px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0;
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) > input[type=checkbox] {
  position: absolute;
  width: 20px;
  opacity: 0;
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) > input[type=checkbox] ~ span {
  width: 100%;
  vertical-align: center;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) > input[type=checkbox] ~ span::before {
  display: flex;
  content: attr(title);
  justify-content: center;
  font-family: "Arial";
  margin-top: -5px;
  margin-right: 4px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) > input[type=checkbox]:checked ~ span::before {
  background-color: #99a;
  box-shadow: 0 0 5px inset black;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > label:nth-of-type(2) > input[type=checkbox] ~ span::before {
  margin-top: 0;
  border-radius: 15px;
  width: 12px;
  height: 12px;
  border: 2px solid black;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input, .charsheet .tab2 .skillsList > .repcontainer > .repitem > select {
  border: none;
  border-left: 1px dotted gray;
  font-family: "Patrick Hand";
  height: 24px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input:nth-of-type(1) {
  padding: 5px;
  width: 159px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input:nth-of-type(2) {
  padding: 5px;
  width: calc(100% - 30px - 150px - 60px - 35px - 45px - 53px + 9px);
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input:nth-of-type(3) {
  text-align: center;
  width: 44px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input:nth-of-type(4) {
  padding: 5px;
  width: 34px;
  cursor: default;
  background: rgba(238, 238, 238, 0.6);
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > select {
  background: transparent;
  width: 69px;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > textarea {
  display: none;
  height: 4em;
  width: 100%;
  border-top: 1px dotted gray;
  font-family: "Patrick Hand";
  line-height: 1.4em;
  padding-block: 0;
  padding-left: 1.4em;
  padding-right: 1.4em;
  background: repeating-linear-gradient(to bottom, transparent 0 1.2em, lightgray 1.2em calc(1.2em + 1px), transparent calc(1.2em + 1px) 1.4em) 50% 0/calc(100% - 2.8em) 100% no-repeat;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > input[type=hidden][value="1"] ~ textarea {
  display: block;
}
.charsheet .tab2 .skillsList > .repcontainer > .repitem > button[type=action] {
  margin-top: 8px;
  background: rgba(238, 238, 238, 0.6);
}

.charsheet .tab3 {
  flex-wrap: wrap;
  align-content: start;
}
.charsheet .tab3 div#init label {
  width: 100%;
}
.charsheet .tab3 div#init label > span {
  width: 65%;
}
.charsheet .tab3 div#init label > input[type=text] {
  width: 35%;
}
.charsheet .tab3 div#init > div {
  width: 100%;
}
.charsheet .tab3 div#health h3 {
  display: flex;
  padding-left: 15%;
  flex-wrap: no-wrap;
  flex-direction: row;
}
.charsheet .tab3 div#health h3 > span {
  display: flex;
  width: 30%;
}
.charsheet .tab3 div#health h3 > span > input {
  background: transparent;
  border: none;
  border-bottom: 1px dotted white;
  height: 95%;
  text-align: center;
  color: white;
}
.charsheet .tab3 div#health > span {
  display: inline;
  border-bottom: 1px dotted gray;
  border-right: 1px dotted gray;
  text-align: center;
  font-family: "Patrick Hand";
  font-weight: bold;
}
.charsheet .tab3 div#health > span:first-of-type {
  width: calc(40% - 2px);
  border-left: 1px dotted gray;
}
.charsheet .tab3 div#health > span:not(:first-of-type) {
  width: calc(20% - 1px);
}
.charsheet .tab3 div#health > fieldset.repeating_health {
  width: 100%;
}
.charsheet .tab3 div#health > .repcontainer {
  width: 100%;
  flex-wrap: wrap;
}
.charsheet .tab3 div#health > .repcontainer > .repitem {
  width: 100%;
}
.charsheet .tab3 div#health > .repcontainer > .repitem > input {
  border: none;
  border-right: 1px dotted gray;
  border-bottom: 1px dotted lightgray;
}
.charsheet .tab3 div#health > .repcontainer > .repitem > input:first-of-type {
  width: 40%;
  border-left: 1px dotted gray;
}
.charsheet .tab3 div#health > .repcontainer > .repitem > input:not(:first-of-type) {
  width: 20%;
}

.sheet-rolltemplate-base {
  width: 100%;
  padding: 5px;
  background: #fef68e;
  box-shadow: 0 0 8px black inset;
}
.sheet-rolltemplate-base > .sheet-header {
  padding: 5px;
}
.sheet-rolltemplate-base > .sheet-header > h1 {
  font-family: "Patrick Hand";
  font-style: italic;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
.sheet-rolltemplate-base .sheet-arrow-container {
  padding-left: 15px;
  padding-right: 15px;
}
.sheet-rolltemplate-base .sheet-arrow-right {
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  border-left: solid 180px rgba(255, 0, 0, 0.5333333333);
}
.sheet-rolltemplate-base > .sheet-results {
  padding: 5px;
  text-align: center;
}
.sheet-rolltemplate-base > .sheet-results .inlinerollresult {
  border: none;
}

/*# sourceMappingURL=l5r.css.map */
