@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.charactersheet {
  background-image: url("https://raw.githubusercontent.com/Calmacil/l5r-v4/master/img/appierriz.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 700px;
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
}
.charactersheet .itemcontrol {
  z-index: 2;
}
.charactersheet .btn {
  border-radius: 0;
}
.charactersheet img,
.charactersheet div,
.charactersheet span,
.charactersheet input[type=number],
.charactersheet input[type=text],
.charactersheet textarea,
.charactersheet select,
.charactersheet h1,
.charactersheet h2,
.charactersheet label,
.charactersheet button[type=roll],
.charactersheet button[type=action] {
  display: flex;
}
.charactersheet input[type=number],
.charactersheet input[type=text],
.charactersheet select,
.charactersheet textarea {
  color: black;
}
.charactersheet input[type=text],
.charactersheet input[type=number],
.charactersheet select {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.charactersheet input[type=number]::-webkit-outer-spin-button, .charactersheet input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charactersheet input[type=number],
.charactersheet input[type=text] {
  -moz-appearance: textfield;
  border-radius: 0;
}
.charactersheet textarea {
  border: none;
  width: 100%;
  padding: 0;
  text-align: justify;
  border-radius: 0;
  margin: 0;
}
.charactersheet .repcontrol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.charactersheet .repcontrol > .btn {
  padding-bottom: 0;
  border-radius: 0;
  border: 1px solid green;
}
.charactersheet div.sheet-autoex {
  line-height: 1.4em;
  min-width: 1.4em;
  cursor: text;
  text-align: left;
  position: relative;
  width: 100%;
}
.charactersheet div.sheet-autoex > span, .charactersheet div.sheet-autoex > textarea {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-spacing: inherit;
  text-align: inherit;
  min-height: inherit;
  height: 100%;
  word-wrap: anywhere;
  padding-left: 2px;
  padding-right: 2px;
}
.charactersheet div.sheet-autoex > span {
  visibility: hidden;
}
.charactersheet div.sheet-autoex > textarea {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  overflow: hidden;
  resize: none;
  margin: 0;
}
.charactersheet div.sheet-autoex > textarea::placeholder {
  font-family: "Contrail One";
  color: rgba(87, 89, 87, 0.8549019608);
  font-style: italic;
  text-align: center;
  font-size: 95%;
  font-weight: normal;
}
.charactersheet div.sheet-autoex.sheet-autoex22 {
  min-height: 22px;
}
.charactersheet div.sheet-autoex.sheet-autoex24 {
  min-height: 24px;
}
.charactersheet div.sheet-autoex.sheet-autoex26 {
  min-height: 26px;
}
.charactersheet div.sheet-autoex.sheet-autoex28 {
  min-height: 28px;
}
.charactersheet div.sheet-autoex.sheet-autoex40 {
  min-height: 40px;
}
.charactersheet div.sheet-autoex.sheet-autoex100 {
  min-height: 100px;
}
.charactersheet .container {
  width: 100%;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-between;
  min-width: 700px;
  background-color: transparent;
  background-image: radial-gradient(closest-side at 50% 50%, white, rgba(255, 255, 255, 0));
  padding: 0;
  margin: 0;
}
.charactersheet .container .main-container {
  width: calc(100% - 187.5px - 10px);
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.charactersheet div.col3 {
  width: 33.3333333333%;
  flex-wrap: wrap;
}
.charactersheet div.col2 {
  width: 50%;
  flex-wrap: wrap;
}
.charactersheet div.col40 {
  width: calc(40% - 10px);
  flex-wrap: wrap;
  align-content: flex-start;
}
.charactersheet div.col60 {
  width: calc(60% - 10px);
  flex-wrap: wrap;
  align-content: flex-start;
}
.charactersheet div.col2T1 {
  width: 66.6666666667%;
  flex-wrap: wrap;
}
.charactersheet .tab {
  display: none;
}
.charactersheet input[name=attr_activeTab][value="8"] ~ div.tab8, .charactersheet input[name=attr_activeTab][value="7"] ~ div.tab7, .charactersheet input[name=attr_activeTab][value="6"] ~ div.tab6, .charactersheet input[name=attr_activeTab][value="5"] ~ div.tab5, .charactersheet input[name=attr_activeTab][value="4"] ~ div.tab4, .charactersheet input[name=attr_activeTab][value="3"] ~ div.tab3, .charactersheet input[name=attr_activeTab][value="2"] ~ div.tab2, .charactersheet input[name=attr_activeTab][value="1"] ~ div.tab1, .charactersheet input[name=attr_activeTab][value="0"] ~ div.tab0 {
  display: flex;
}
.charactersheet .menu {
  width: 187.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  min-height: 560px;
}
.charactersheet .menu > .logo {
  width: 100%;
  min-height: 62px;
  background-image: url("https://raw.githubusercontent.com/Calmacil/l5r-v4/master/img/legend-of-the-five-rings-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.charactersheet .menu > .menuMain, .charactersheet .menu > .menuFooter {
  flex-direction: column;
  width: 100%;
  padding: 0;
  padding-right: 8px;
}
.charactersheet .menu > div > label > input[type=radio] {
  position: absolute;
  width: calc(25% - 33px);
  opacity: 0;
  height: 30px;
}
.charactersheet .menu > div > label > input[type=radio] ~ span {
  width: 100%;
}
.charactersheet .menu > div > label > input[type=radio] ~ span::before {
  display: flex;
  content: attr(title);
  width: 100%;
  height: 24px;
  line-height: 26px;
  justify-content: center;
  font-family: "Permanent Marker";
  background-image: linear-gradient(to right, rgba(34, 34, 40, 0.9333333333) 60%, #eeeeff);
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
}
.charactersheet .menu > div > label > input[type=radio]:checked ~ span::before {
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0.5333333333);
  text-decoration-thickness: 2px;
  color: rgba(255, 0, 0, 0.5333333333);
  background-image: linear-gradient(to left, rgba(34, 34, 40, 0.9333333333) 60%, #eeeeff);
}

.charactersheet .dicebox {
  width: calc(100% - 20px);
  height: 60px;
  border-bottom: 1px solid lightgrey;
  margin: 0 10px 0 10px;
  padding-bottom: 5px;
}

.charactersheet .tab {
  width: 100%;
  height: calc(100% - 60px);
}

/*# sourceMappingURL=l5r.css.map */
