mixin caracbar(id)
    div(id=id).caracbar
        .elem
            +numberLabelled('constitution', 'Consti.', 'constitution', 2, 'constitution,Constitution')
            +numberLabelled('earth', 'Terre', 'earth', 2, 'earth,Terre')(readonly)
            +numberLabelled('will', 'Volonté', 'will', 2, 'will,Volonté')

        .elem
            +numberLabelled('reflex', 'Réflexes', 'reflex', 2, 'reflex,Réflexes')
            +numberLabelled('air', 'Air', 'air', 2, 'air,Air')(readonly)
            +numberLabelled('awareness', 'Intuition', 'awareness', 2, 'awareness,Intuition')

        .elem
            +numberLabelled('strength', 'Force', 'strength', 2, 'strength,Force')
            +numberLabelled('water', 'Eau', 'water', 2, 'water,Eau')(readonly)
            +numberLabelled('perception', 'Percep.', 'perception', 2, 'perception,Perception')

        .elem
            +numberLabelled('agility', 'Agilité', 'agility', 2, 'agility,Agilité')
            +numberLabelled('fire', 'Feu', 'fire', 2, 'fire,Feu')(readonly)
            +numberLabelled('intelligence', 'Intel.', 'intelligence', 2, 'intelligence,Intelligence')

        +hiddenInput('hideVoid', 0)
        .elem.elemVoid
            +hiddenInput('charProfile')
            +numberLabelled('void', 'Vide', 'void', 2, 'void,Vide').rokugani
            +numberLabelled('voidUsed', 'Utilisé', 'voidUsed', 0)