.tab.tab0
    div#display.col3
        h3 Affichage
        +cbButton('display_magic', 'Page de magie', 1)
        +cbButton('display_shadowland', "Page de l'Outremonde", 1)
    div.col2T1
        h3 Santé
    div.col2T1
        h3 Création de personnages
    div.col3
        h3 Emplacements de sorts