.tab.tab1
    .col2T1#identity
        
        +textLabelled('character_name', 'Nom:', 'character_name')
        +textLabelled('clan', 'Clan:', 'clan')
        +textLabelled('family', 'Famille:', 'family')
        +textLabelled('genre', 'Genre:', 'genre')
        +textLabelled('age', 'Âge:', 'age')
        
        +caracbar('caracs')


    .col3
        span HonorBox
