.tab.tab1
    .col2
        
        label(for='character_name')
            span Nom:
            +textInput('character_name')#character_name
        .col2
            label(for='clan')
                span Clan:
                +textInput('clan')#clan
        .col2
            label(for='family') 
                span Famille:
                +textInput('family')#family
    .col2
        span HonorBox
