.tab.tab2
    +caracbar()

    .skillsList
        span(title='École') E.
        span Compétence
        span Spécialités
        span Trait
        span Rang
        span Jet
        fieldset.repeating_skills
            +cbButton('expand', ' ', '1')
            +cbButton('schoolSkill', ' ')
            +textInput('name')
            +textInput('focus')
            +select('trait', '-')
                option(value='@{agility}') Agilité
                option(value='@{constitution}') Constitution
                option(value='@{strength}') Force
                option(value='@{intelligence}') Intelligence
                option(value='@{awareness}') Intuition
                option(value='@{perception}') Perception
                option(value='@{reflex}') Réflexes
                option(value='@{will}') Volonté
                option(value='@{void}') Vide
            +numberInput('rank', 0)(min=0, max=10)
            span(name='attr_roll')
            +actButton('skillRoll')
            +hiddenInput('expand')
            +textareaInput('habilities')(placeholder='Capacités de maîtrise, bonus...')