.tab.tab3
    div.col2T1
        div#init.col3
            h3 Initiative
            +textLabelled('baseInit', 'Base', 'baseInit')(readonly)
            +textLabelled('modInit', 'Modificateurs', 'modInit')
            +textLabelled('totalInit', 'Total', 'totalInit')(readonly)
            div
                span Rapide:
                //-+actButton('quickAdv', 1)
                +rollButton('quickInit', '[[@{reflex} &{tracker:+}]]')
            div
                span Initiative !
                +actButton('initRoll')
        div#movement.col3
            h3 Mouvement
            +textLabelled('freeMove', 'Mvt. gratuit', 'freeMove')(readonly)
            +textLabelled('simpleMove', 'Mvt. simple', 'simpleMove')(readonly)
            +textLabelled('maxMove', 'Max / round', 'maxMove')(readonly)
            +numberLabelled('waterMod', 'Mod. Eau', 'modMove', 0)
        div#armor.col3
            h3 Défense
            +numberLabelled('baseDefense', 'Déf. base', 'baseDefense')(readonly)
            +numberLabelled('fullDefense', 'Déf. actuelle', 'fullDefense')(readonly)
            h3 Armure
            +textLabelled('armorName', 'Armure', 'armorName')
            +numberLabelled('armorDef', 'Def. bonus', 'armorDef')
            +numberLabelled('reduction', 'Réduction', 'armorRed')
            +cbButton('armorEquipped', 'Équipé?', 1)
    div#health.col3
        h3 
            span Santé
            span
                +numberInput('hp')
                | /
                +numberInput('hp_max')(readonly)
                +hiddenInput('woundmalus', 0)
        span Rang
        span Malus
        span Total
        fieldset.repeating_health
            +hiddenInput('highlight', 0)
            +textInput('rank')(readonly)
            +textInput('malus')(readonly)
            +numberInput('total')(readonly)
    div#guard.col2
        h3 Posture
    div#states.col2
        h3 États
    div#weapons.col2T1
        h3 Armes
    div#inventory.col3
        h3 Inventaire