.tab.tab6
    .spellSlots
        +spellSlot('earth', 'Terre')
        +spellSlot('air', 'Air')
        +spellSlot('water', 'Eau')
        +spellSlot('fire', 'Feu')
        +spellSlot('void', 'Vide')
    .spellList
        span
        span Sort
        span Élément
        span Maîtrise
        span Portée
        span Durée
        span
        fieldset.repeating_spells