.charactersheet
    label
        font-size: 12px
        &> span
            font-weight: normal
            font-family: $fontStandard
            font-size: inherit
            line-height: 12px
            padding-top: 5px
            padding-right: 3px

        &> input[type="text"],
        &> input[type="number"]
            font-weight: normal
            font-size: calc(1em + 2px)
            font-style: italic
            line-height: 12px
            font-family: $fontHandwriting
            background: transparent
            border: 0
            border-bottom: solid 1px lightgray