$imgRepo: "https://raw.githubusercontent.com/Calmacil/l5r-v4/master"
$diceboxHeight: 60px
$menuWidth: 180px
$numberTabs: 8

$activeColor: #f008
$checkedColor: #99a
$bloodColor: #a008

// Fonts
$fontHeader: "Permanent Marker"
$fontHandwriting: "Patrick Hand"
$fontStandard: "Arial"
$fontDice: "dicefontd10"

// element colors
$colEarth: #363
$colAir: #68a
$colWater: #36a
$colFire: #a63
$colVoid: #999

// Used for checkboxes and radio buttons
@mixin toggleable($height, $font, $withLabel:false, $width: 30px)
    position: absolute
    width: $width
    opacity: 0
    height: $height
    &~ span
        width: 100%
        vertical-align: center
        &::before
            display: flex
            content: attr(title)
            justify-content: center
            font-family: $font
            @if $withLabel
                width: 100%
                height: $height - 6px
                line-height: $height - 4px
            @else
                margin-top: -5px
                margin-right: 4px
    &:checked ~ span::before
        @if $withLabel
            text-decoration: underline
            text-decoration-color: $activeColor
            text-decoration-thickness: 2px
        @else 
            background-color: $checkedColor
            box-shadow: 0 0 5px inset black

@mixin expandSwitch($height)
    position: absolute
    width: 10px
    opacity: 0
    height: $height
    &~ span
        width: 100%
        vertical-align: center
        &::before
            display: flex
            content: '►'
            justify-content: center
    &:checked ~ span::before
        content: '▼'

@mixin textareaLined($h1, $h2)
    line-height: $h1
    padding-block: 0
    padding-left: $h1
    padding-right: $h1
    background: repeating-linear-gradient(to bottom, transparent 0 $h2, lightgray $h2 calc($h2 + 1px), transparent calc($h2 + 1px) $h1) 50% 0 / calc(100% - $h1 * 2 ) 100% no-repeat