.charactersheet
    .dicebox
        width: calc(100% - 20px)
        height: $diceboxHeight
        border-bottom: 1px solid lightgrey
        margin: 0 10px 10px 10px
        padding-bottom: 5px
        box-shadow: 0 5px 8px -6px #000