rolltemplate.sheet-rolltemplate-cantcast
    .sheet-header
        h1 {{charname}}
    .sheet-arrow-container
        .sheet-arrow-right
    .sheet-results
        h4 {{title}}
        h4 Impossible d’incanter