include pug/abstract/mixins.pug

.container

    include pug/components/menu.pug
    include pug/components/caracs.pug

    .main-container

        include pug/components/dicebox.pug

        +hiddenInput('activeTab', 1)
        include pug/tabs/tab1-personnage.pug
        include pug/tabs/tab2-skill.pug
        include pug/tabs/tab3-combat.pug
        include pug/tabs/tab4-vantages.pug
        include pug/tabs/tab5-school.pug
        include pug/tabs/tab6-magic.pug
        include pug/tabs/tab7-background.pug
        include pug/tabs/tab8-shadowlands.pug

        include pug/tabs/tab0-config.pug

include pug/rolltemplates/base.pug

script(type='text/worker')
    include workers/insight.js
    include workers/update_rings.js
    include workers/skills.js
    include workers/init.js
    include workers/move.js
    include workers/defense.js
    include workers/health.js
    include workers/rolls.js
    include workers/onstart.js