include pug/abstract/mixins.pug

.container

    include pug/components/menu.pug

    .main-container

        include pug/components/dicebox.pug

        +hiddenInput('activeTab', 1)
        include pug/tabs/tab1-personnage.pug
