.charactersheet .tab1
    #identity
        &> label:first-of-type
            font-size: 18px
            align-items: space-between
            width: calc(100% - 10px)
        &> label:not(:first-of-type)
            width: calc(50% - 10px)
