.charsheet .tab1
    flex-wrap: wrap
    #identity
        &> label:first-of-type
            font-size: 18px
            align-items: space-between
            width: calc(100% - 10px)
        &> label:not(:first-of-type)
            width: calc(50% - 10px)

    #desc
        &> textarea
            border: 1px solid lightgray
            box-shadow: 0 0 8px lightgray inset
            border-radius: 5px
            font-family: $fontHandwriting
            padding: 4px
            @include textareaLined(1.2em, 1em)

    .honorbox
        width: 90%
        margin-left: 5%
        margin-top: 15px
        flex-flow: row wrap
        align-items: flex-start
        padding: 5px
        background: #fef68e
        box-shadow: 0 0 8px black inset
        &> label
            width: 100%
            display: flex
            flex-direction: row
            flex-wrap: wrap

        button[type=action]
            background: transparent
        input[name="attr_hideHonorGlory"][value="1"]
            &~ label[for="honor"],
            &~ label[for="glory"]
                display: none
        input[name="attr_displayInfamy"][value="0"] ~ label[for="infamy"],
        input[name="attr_displayTaint"][value="0"] ~ label[for="taint"],
        input[name="attr_displayShadow"][value="0"] ~ label[for="shadow"]
            display: none