.charsheet .tab3
    flex-wrap: wrap
    align-content: start

    div#init,
    div#movement
        label
            width: 100%
            &> span
                width: 65%
            &> input[type=text]
                width: 35%
        &> div
            width: 100%

    div#health
        h3 
            display: flex
            padding-left: 15%
            flex-wrap: no-wrap
            flex-direction: row
            &> span
                display: flex
                width: 30%
                &> input
                    background: transparent
                    border: none
                    border-bottom: 1px dotted white
                    height: 95%
                    text-align: center
                    color: white
        &> span
            display: inline
            border-bottom: 1px dotted gray
            border-right: 1px dotted gray
            text-align: center
            font-family: $fontHandwriting
            font-weight: bold
            &:first-of-type
                width: calc(60% - 2px)
                border-left: 1px dotted gray
            &:not(:first-of-type)
                width: calc(20% - 1px)

        &> fieldset.repeating_health
            width: 100%
        &> .repcontainer
            width: 100%
            flex-wrap: wrap
            &> .repitem
                width: 100%
                &> input
                    border: none
                    border-right: 1px dotted gray
                    border-bottom: 1px dotted lightgray
                    &:nth-of-type(2)
                        width: calc(60%)
                        border-left: 1px dotted gray
                    &:not(:nth-of-type(2))
                        width: calc(20%)
                    &[type=hidden][value="1"] ~ input
                        &:nth-of-type(2)
                            background: radial-gradient($bloodColor 5%, #0000)
        &> .repcontrol
            display: none