.charsheet .tab3
    flex-wrap: wrap

    div#init
        label
            width: 100%
            &> span
                width: 65%
            &> input[type=text]
                width: 35%
        &> div
            width: 100%